body {
    margin: auto 50px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
    background-color: black;
}

h2 {
    font-weight: inherit;
    text-transform: uppercase;
    font-size: 30px;
    color: #19466d;
}

h2>span {
    color: #ed8029;
}