@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;

}

/* Card. Main-parameter*/
.card {
    margin: 0.5em;
    display: flex;
    align-items: stretch;
    text-align: center;
}

/* Outblock. Orange block*/
.outblock {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    width: 285px;
    background: #ed8029;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/* Header card text*/
.title_header {
    display: flex;
    flex-direction: column;
    margin: 8%;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    font-stretch: condensed;
    text-transform: uppercase;
}

/* innerblock. White block*/
.innerblock {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 5%;
    background: #fff;
}

/* Title header. White block*/
.title_innerblock {
    font-size: 23px;
    font-weight: normal;
    text-transform: uppercase;
}


/* SUMMA.Text transform*/
.summa {
    margin: 3%;
    font-weight: bold;
    color: #35495a;
}

sup {
    font-size: 25px;
    text-transform: none;
    vertical-align: 125%;
}

span {
    font-size: 75px;
}

/* LIST decoration*/
.list {
    margin: 5% 0;
    font-size: 16px;
    text-transform: none;
    text-align: left;
    color: #8b8f97;
}

.list > p {
    margin-bottom: 2px;
    line-height: 30px;
    padding-left: 10%;
}

.list > p:before {
    padding-right: 5%;
    content: url("../arrow.png");
    height: 1%;
}

.list > p:nth-child(odd) {
    background: #e7f1fa;
}

.list > p:nth-child(even) {
    background: #f4f4f5;
}