@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.red, .green, .blue {
    color: white;
    border-radius: 10px;
    margin: 0 2px;
    padding: 2px 10px;
}

.red {
    background: #fd0001;
}

.green {
    background: #007f01;
}

.blue {
    background: #0000fe;
}

label {
    font-weight: bold;
    text-decoration-line: underline;
    margin: 0 30px;
}

label[for="red"] {
    color: #fd0001;
}

label[for="green"] {
    color: #007f01;
}

label[for="blue"] {
    color: #0000fe;
}

input {
    display: none;
}

input[id="red"]:checked ~ label[for="red"],
input[id="green"]:checked ~ label[for="green"],
input[id="blue"]:checked ~ label[for="blue"] {
    opacity: 30%;
}

input[id="red"]:checked ~ .red,
input[id="green"]:checked ~ .green,
input[id="blue"]:checked ~ .blue {
    display: none;
}