@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

li {
    display: inline-block;
    text-align: center;
    margin: 0 1px;
}

a {
    color: #9e38cd;
    background: #fff;
    text-decoration-line: none;
}

a {
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    text-align: justify;
}

a:hover {
    color: #fff;
    background: #a03bce;
    border: 1px solid #7f19ba;
    text-shadow: #711da6 1px 1px 1px;
}

a.on {
    color: #fff;
    background: #a03bce;
    border: 1px solid #7f19ba;
    border-radius: 5px;
    text-shadow: #711da6 1px 1px 1px;
}

a.first, a.last {
    border: none;
}

a.first {
    margin: 0 10px 0 20px;
}

a.last {
    margin: 0 20px 0 10px;
}

a.first:before {
    display: inline-block;
    transform: translateY(-1px);
    padding: 0 5px 0 0;
    content: "«";
}

a.last:after {
    display: inline-block;
    transform: translateY(-1px);
    padding: 0 0 0 5px;
    content: "»";
}