@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

.first:before {
    padding: 0 5px;
    content: "«";
}

.last:after {
    padding: 0 5px;
    content: "»";
}