body{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
}
nav{
    position: fixed;
    left: 100px;
    top: 20%;
    padding: 10px;
    background: #ffe;
    border: 1px solid #333;
}
div.image{
    text-align: center;
}
ul{
    list-style-type: square;
}
table, th, td {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 20px;
}