@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 2em;
    display: block;
    text-align: center;

}

.card {
    width: 285px;
    height: auto;
    padding: 0.2%;
    background: #ed8029;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.title_header {
    margin: 8%;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    font-stretch: condensed;
    text-transform: uppercase;
}

.innerblock {
    height: 100%;
    padding: 5%;
    background: #fff;
}

.title_2 {
    font-size: 23px;
    font-weight: normal;
    text-transform: uppercase;
}

sup {
    font-size: 25px;
    text-transform: none;
    vertical-align: text-top;
}

span {
    font-size: 75px;
}

.list {
    margin: 0;
    font-size: 16px;
    text-transform: none;
    text-align: left;
    color: #8b8f97;
}

p{
    margin: auto;
}

.list > p {
    margin-bottom: 2px;
    line-height: 30px;
    padding-left: 10%;
}

.list > p:before {
    padding-right: 5%;
    content: url("../arrow.png");
    height: 1%;
}

.list > p:nth-child(odd) {
    background: #e7f1fa;
}

.list > li:nth-child(even) {
    background: #f4f4f5;
}

button {
    padding: 5% 0;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: none;
    background: #ed8029;
    box-shadow: 0 2px 0 0 rgb(178, 86, 11);
    border-radius: 3px;
    cursor: pointer;
}