table {
    border-collapse: collapse;
    background: white;
}

tr, td {
    padding: 5px 10px;
    border-bottom: 1px solid #cbcbcb;

}

tr:nth-child(even) {
    background: #dceaf6;
}

td:nth-child(2n+3) {
    background: #f1f1dd;
}