@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

nav {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background: #a54dfe;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

.menu {
    padding: 0;
}

.menu li a {
    padding: 11px 16px;
    text-decoration: none;
    color: white;
    line-height: 38px;
}

.menu li a:hover {
    background: #ededed;
    color: #9fa1a7;
}
/*И как это чудо выровнять в один столбик?*/
ul.menu > li:hover > ul.submenu{
    display: block;

}
/*Как будет выглядеть внутри свернутого контейнера*/
.submenu {
    display: none;
    position: absolute;
    float: left;
    width: auto;
    overflow: hidden;
    padding: 0;
    background-color: #ededed;
    z-index: 1;

}

.submenu li a {
    display: block;
    color: #9fa1a7;
    font-size: 16px;
    padding: 16px;
}
/*Как будут выглядеть вложенные ссылки ссылки при наведении на них*/
.submenu li a:hover {
    background: #a4a4a4;
    color: #4c5050;
}

ul[class="menu"] > li:first-child {
    padding: 0 0 0 5%;
}

ul[class="menu"] > li:last-child {
    padding: 0 5% 0 0;
    float: right;
}